@import url(../styles/header.css);

body{
    color: white;
    font-family: sans-serif;
}

.maps{
    margin: auto;
    width: 80%;
    margin-top: 60px;
}

.maps-name{
    background-color: #33333362;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    height: 510px;
}

.maps-name img{
    transition: 0.3s all;
}

.maps-name img:hover{
    height: 230px;
}

.maps-name a{
    text-decoration: none;
    color: white;
}

.maps-name img{
    height: 200px;
    margin-top: 15px;
    padding-bottom: 20px;
}

#background{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    z-index: -1
}

#background img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#background::after{
    content: '';
    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.800);
}

